html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  padding-top: 3rem;
}

.robot {
  width: 320px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  position: absolute;
  width: 46px;
  left: 8.5rem;
  top: 2rem;
}

.robot-head-right {
  position: absolute;
  width: 125px;
  top: -2.344em;
  left: 10rem;
}

.robot-head-left {
  width: 125px;
  position: absolute;
  left: 2.2rem;
  top: -2.344em;
}

.robot:hover .robot-head-right {
  left: 12rem;
  top: -3rem;
}

.robot:hover .robot-head-left {
  left: .2rem;
  top: -3rem;
}

.robot:hover .robot-brain {
  top: -3rem;
}
